{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

    <h2>Активные встречи</h2>

    {% for meeting in activeMeeting %}
        <a href = "{{ path('meeting_show', {meeting: meeting.id}) }}">
            {{ meeting.subject.teacherLastName }} - {{ meeting.subject.name }} : {{ meeting.dateMeeting|date("d-m") }} {{ meeting.timeMeeting|date("H-m") }}
        </a>
        <p>{{ meeting.state }}</p>
        <br>
    {% endfor %}

{% endblock %}
