{% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block body %}
    <header class = "title">
        <h2>{{ subject.name }}</h2>
    </header>

<div class="example-wrapper">
    <h2>{{ subject.name }}</h2>
    <p>ФИО: {{ subject.teacherLastName }} {{ subject.teacherFirstName }} {{ subject.teacherPatronymic }}</p>
    <hr>
    <a class = "btn btn-info" href = "{{ path('meeting_create', {subject: subject.id}) }}">
        Создать встречу
    </a>
    <a class = "btn btn-info" href = "{{ path('session_show', {session: subject.session.id}) }}">Вернуться</a>
    <a class = "btn btn-info" href = "{{ path('home') }}">Домой</a>
    <a class = "btn btn-danger" href = "{{ path('subject_delete', {subject: subject.id}) }}">Удаить предмет</a>
    <br><br><br><br><br>


    <header class = "title">
        <h2>Активные встречи</h2>
    </header>

    <div class = "meetings">
        {% for meeting in activeMeeting %}
            <div class = "meeting">
                <a href = "{{ path('meeting_show', {meeting: meeting.id}) }}">
                    <div>
                        <header class = "title-meeting">
                            <section class = "meeting-subject">
                                <h3>{{ meeting.subject.teacherLastName }} - {{ meeting.subject.name }}</h3>
                            </section>
                            <span class = "state state-active">{{ meeting.state }}</span>
                        </header>

                        <hr>

                        <section class = "meeting-info">
                            <span class = "time">Дата встречи: {{ meeting.dateMeeting|format_date('full', 'd MMMM', null, 'gregorian', 'ru') }}</span>
                            <span class = "time">Время встречи: {{ meeting.timeMeeting|localizeddate('none', 'short', 'ru') }}</span>
                        </section>

                        <hr>

                        <footer>
                            <span>
                                Дата создания: {{ meeting.date|date("d.m.Y") }}
                            </span>
                        </footer>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
