{% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block body %}
    <header class = "title">
        <h2>{{ subject.name }}</h2>
    </header>

    <div class = "subject-main">
        <header>
            <h2>Преподаватель</h2>
            <a href = "{{ path('subject_delete', {subject: subject.id}) }}">
                <div class = "delete-subject">
                    <img src = "{{ asset('/img/plus.svg') }}">
                    <span>Удалить предмет</span>
                </div>
            </a>
        </header>
        <div class = "fio">
            <div>
                <span class = "label">Фамилия:</span>
                <span class = "teacher-fio">{{ subject.teacherLastName }}</span>
            </div>
            <div>
                <span class = "label">Имя:</span>
                <span class = "teacher-fio">{{ subject.teacherFirstName }}</span>
            </div>
            <div>
                <span class = "label">Отчество:</span>
                <span class = "teacher-fio">{{ subject.teacherPatronymic }}</span>
            </div>
        </div>
    </div>


    <header class = "title-active-meeting">
        <h2>Активные встречи</h2>
        <div class = "new-meeting">
            <img src = "{{ asset('/img/plus.svg') }}">
            <span>Новая встреча</span>
        </div>
    </header>

    <div class = "meetings">
        {% for meeting in activeMeeting %}
            <div class = "meeting">
                <a href = "{{ path('meeting_show', {meeting: meeting.id}) }}">
                    <div>
                        <header class = "title-meeting">
                            <section class = "meeting-subject">
                                <h3>{{ meeting.subject.teacherLastName }} - {{ meeting.subject.name }}</h3>
                            </section>
                            <span class = "state state-active">{{ meeting.state }}</span>
                        </header>

                        <hr>

                        <section class = "meeting-info">
                            <span class = "time">Дата встречи: {{ meeting.dateMeeting|format_date('full', 'd MMMM', null, 'gregorian', 'ru') }}</span>
                            <span class = "time">Время встречи: {{ meeting.timeMeeting|localizeddate('none', 'short', 'ru') }}</span>
                        </section>

                        <hr>

                        <footer>
                            <span>
                                Дата создания: {{ meeting.date|date("d.m.Y") }}
                            </span>
                        </footer>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class = "form-background">
        <div class = "form">
            {{ form_start(meetingForm) }}
            <header>
                <h2>Создать встречу</h2>
            </header>
            <section class = "section-input">
                <div class = "field-form">
                    {{ form_row(meetingForm.dateMeeting) }}
                </div>
                <div class = "field-form">
                    {{ form_row(meetingForm.timeMeeting) }}
                </div>
            </section>
            <footer class = "footer-button">
                <button type="button">Отмена</button>
                <button type="submit" class="red disabled">Создать</button>
            </footer>
            {{ form_end(meetingForm) }}
        </div>
    </div>

{% endblock %}
