<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/JavaScript" src="jQuery.ui.datepicker-ru.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class = "main-header">
        <div class = "header-buttons">
            <img class = "header-img burger" src = "{{ asset('/img/burger.svg') }}">
            <a href = "{{ path('home') }}">
                <img class = "header-img" src = "{{ asset('/img/home.svg') }}">
            </a>
        </div>
        <div class = "header-logout">
            <a href = "{{ path('app_logout') }}">Выйти</a>
        </div>
    </header>
    <main class = "main">
        <section class = "main-sidebar">
            <nav>
                <a href = "{{ path('home') }}">
                    <div class = "sidebar-home">
                        <img src = "{{ asset('/img/home_black.svg') }}">
                        <span>Главная</span>
                    </div>
                </a>
                {% for session in sessions %}
                    <div class = "sidebar-session">
                        <div>
                            <img src = "{{ asset('/img/arrow.svg') }}">
                            <span>{{ session.name }}</span>
                        </div>
                        <a href = "{{ path('subject_create', {session: session.id}) }}">
                            <div class = "plus">
                                <img src = "{{ asset('/img/plus.svg') }}">
                            </div>
                        </a>
                    </div>
                    <ul class = "subject-list">
                        {% for subject in session.subjects %}
                            <a href = "{{ path('subject_show', {subject: subject.id}) }}">
                                <li>
                                    {{ subject.teacherLastName }} - {{ subject.name }}
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                {% endfor %}

                <a href = "{{ path('session_create') }}">
                    <div class = "new-session">
                        <img src = "{{ asset('/img/plus.svg') }}">
                        <span>Новая сессия</span>
                    </div>
                </a>
            </nav>
        </section>
        <section class = "main-body">{% block body %}{% endblock %}</section>
    </main>

    <div class = "form-background hidden">
        <div class = "form">
            {{ form_start(sessionForm) }}
                <header>
                    <h2>Добавить сессию</h2>
                </header>
                <section class = "section-input">
                    <div class = "field-form">
                        {{ form_row(sessionForm.name) }}
                    </div>
                </section>
                <footer class = "footer-button">
                    <button type="button">Отмена</button>
                    <button type="submit" class="red disabled">Добавить</button>
                </footer>
            {{ form_end(sessionForm) }}
        </div>
    </div>

    <div class = "form-background hidden">
        <div class = "form">
            {{ form_start(subjectForm) }}
            <header>
                <h2>Добавить предмет</h2>
            </header>
            <section class = "section-input">
                <div class = "field-form">
                    {{ form_row(subjectForm.name) }}
                </div>
                <div class = "field-form">
                    {{ form_row(subjectForm.teacherLastName) }}
                </div>
                <div class = "field-form">
                    {{ form_row(subjectForm.teacherFirstName) }}
                </div>
                <div class = "field-form">
                    {{ form_row(subjectForm.teacherPatronymic) }}
                </div>
                <div class = "field-hidden">
                    {{ form_row(subjectForm.sessionId) }}
                </div>
            </section>
            <footer class = "footer-button">
                <button type="button">Отмена</button>
                <button type="submit" class="red disabled">Добавить</button>
            </footer>
            {{ form_end(subjectForm) }}
        </div>
    </div>
    </body>
</html>
